* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

nav {
    display: flex;
    width: 100%;
    min-height: 60px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #131921;
    /* text-align: center; */
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid #131921; */
}

.logo {
    height: 60px;
    width: 120px;
    background: #131921;
}

.logo img {
    height: 100%;
    width: 100%;
    padding: 0 10px;


}

.logo:hover {
    border: 0.5px solid #fff;
}

.location {
    margin-left: 15px;
    /* position: relative; */
}

.location a {
    color: #fff;
    text-decoration: none;
}

.location a p {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: gray;
}

.location:hover {
    border: 0.5px solid #fff;
}

.all li {

    list-style: none;
    margin-left: 20px;
    width: 70px;
    border: 1px solid transparent;

}

.all select {
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    background-color: rgb(232, 227, 227);
    border: none;
    outline: none;
}

.input input {
    width: 500px;
    padding: 10px 10px;
    border: none;
    outline: none;
}

.search-icon span {
    display: inline-block;
    background-color: #febd69;
    padding: 8px 10px;
    border-radius: 0 5px 5px 0;
}

.flag {
    /* margin-left: 5%; */
    margin: 0 1%;
    padding: 0.5%;
}

.flag li {
    list-style: none;
    border: none;
    outline: none;
}

.flag select {
    background-color: #131921;
    color: #fff;
    border: none;
    outline: none;
}

.flag:hover {
    border: 0.5px solid #fff;
}

.hello a {
    text-decoration: none;
    color: #fff;
    /* display: inline-block; */
    /* margin-left: 20px; */
}

.hello {
    position: relative;
    display: inline-block;
    /* margin-left: 2%; */
    margin: 0 1% ;
    padding: 0.5%;
}

.hello:hover {
    border: 0.5px solid #fff;
}

.dropdown-content {
    height: 350px;
    width: 450px;
    position: absolute;
    top: 33px;
    right: -20px;

    display: none;
    background-color: lightgrey;
    box-shadow: 0 0 10px black;
    z-index: 2;
    /* margin-top: 30px; */
    padding-top: 30px;
    /* border-bottom: 1px solid grey; */
}
.dropdown-content img
{
    width: 400px;
    height: 250px;
    margin-left: 30px;
}


.dropdown-content a {
    color: #000;
    background-color: yellow;
    padding: 8px 60px;
    border-radius: 10px;
    text-align: center;
    margin-left: 33%;


}

.dropdown-content p {
    font-size: 10px;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.dropdown-content span:hover {
    text-decoration: underline orange;
    cursor: pointer;
    /* border-bottom: 1px solid gray; */
}


.dropdown:hover .dropdown-content {
    display: block;
}

.return {

    text-decoration: none;
    color: #fff;
    /* display: inline-block; */
    /* margin-left: 3%; */
    margin: 0 1%;
    padding: 0.5%;
}

.return:hover {
    border: 0.5px solid #fff;
}

.cart {
    color: #fff;
    /* margin-left: 4%; */
    font-size: 25px;
    margin: 0 1% ;
    padding: 0.5%;
}

.cart:hover {
    border: 0.5px solid #fff;
}

.nav {
    max-width: 100%;
    height: 40px;
    background-color: #232f3e;
    color: #fff;
    display: flex;
    position: relative;
    top: 60px;
    z-index: 1;
    justify-content: space-evenly;
    /* padding: 0px 5px; */
    font-size: 14px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding: 10px 0px;
}

.nav li:hover {
    border: 0.5px solid #fff;
}

.nav li {
    padding: 0px 10px;
}

.nav li select {
    background-color: #232f3e;
    color: #fff;
    border: none;
    outline: none;
}

.app {
    display: flex;
    align-items: center;
}

.app img {
    height: 40px;
    width: 100px;
    /* display: flex; */
}

.app:hover {
    border: 0.5px solid #fff;
}

.prime-drop {
    position: relative;
    display: inline-block;
}

.prime-content {
    width: 300px;
    height: 300px;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0 5px grey;
    z-index: 2;
}

.prime-content h1 a img {
    width: 260px;
    height: 260px;
    margin: 20px 0 0 20px;
    border-radius: 5px;
}

.prime-drop:hover .prime-content {
    display: block;
}

.background {
    width: 100%;
    height: 60vh;
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/Jan/unrecatf/citi/Makeup-PCcv._CB584595621_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    margin-top: 60px;
    position: relative;
    /* background-position: center; */
}

.lessthen {
    position: absolute;
    top: 140px;
    color: #000;
}

.graterthen {
    position: absolute;
    top: 140px;
    right: 0;
    color: #000;
}

.box {
    /* height: 50vh; */
    
    /* width: 50vh; */
    /* background-color: red; */
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.smallbox {
    /* height: 15vh; */
    width: 43%;
    /* background-color: aqua; */
}

.smallbox img {
    height: 100%;
    width: 100%;
}

.mainbox {
    /* height: 54vh;     */
    /* height: 25%; */
    /* width: 25%; */
    /* padding: 9px 10px; */
    /* max-height: max-content; */
    margin-left: 20px;
    background-color: #fefcfc;
    /* border-radius: 10px; */
    /* padding: 0px 20px; */
}

.mainbox h2 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 13px;
}

.mainbox h3 {
    margin-top: 20px;
    font-size: 16px;
    margin-left: 11px;
    color: green;
    cursor: pointer;
    padding-bottom: 10px;
}

.smallbox p {
    font-size: 14px;
}

.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 280px;
    width: 95%;
    margin-left: 30px;
}

.two {
    /* position: absolut */
    top: 900px;
    /* height: auto; */
}
.three
{
    /* height: 500px; */
    max-height: fit-content;
    padding: 25px;
}
.second
{
    height: auto;
}
body {
    background: linear-gradient(#fbe2a9, #fae1da);
}

.today {
    width: 94%;
    height: 400px;
    background-color: #fff;
    margin-top: 98vh;
    margin-left: 49px;
    cursor: pointer;
}

.today h3 {
    font-weight: 800;
    margin: 5px 0px 0px 20px;
}

.today span:hover {
    color: orangered;
    text-decoration: underline orangered;
}

.today-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.discount {
    height: 40vh;
    width: 15%;
    background-color: #f6f5f5;
    padding: 15px;
}

.discount img {
    width: 90%;
    height: 80%;
}

.limit a {
    text-decoration: none;
    background-color: #cc0c39;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}

.limit p {
    padding-top: 5px;
}

.limit {
    background-color: #fff;
}

.decor {
    background-color: #fff;
    width: 94%;
    height: 40vh;
    margin: 10px 0px 10px 49px;
    cursor: pointer;

}

.decor h3 {
    font-weight: bold;
    margin-left: 20px;
    padding-top: 20px;
}

.decor span {
    color: rgb(6, 84, 161);
    font-size: 12px;
    font-weight: 700;
}

.decor span:hover {
    color: orangered;
    text-decoration: underline orangered;
}

.maindecor {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.floor {
    width: 15%;
    height: 30vh;
    background-color: white;
    margin-top: 10px;
}

.floor img {
    width: 100%;
    height: 100%;
}

.third {
    width: 17%;
}

.fourth {
    width: 12%;
}

.fourth img {
    width: 70%;
}
.customer
{
    margin-left: 25%;
}
.sig
{
    border: 1px solid rgb(189, 188, 188);
    width: 100%;
    height: 150px;
    /* margin-top: 110px; */
    background-color: white;
    padding-top: 30px;
    
  
}
.sig a
{
    color: black;
    background-color: gold;
    padding: 7px 65px;
    border-radius: 18px;
    text-decoration: none;
    margin: 10px;
}
.sig p
{
  margin: 10px;  
}
.sig span
{
    color: green;
    
    cursor: pointer;
    padding: 0 0;
}
.who
{
    width: 94%;
    background-color: white;
    margin-left: 48px;
}
.who h2
{
padding-top: 10px;
font-size: 20px;
}
.supar
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.windows
{
    width: 200px;
    height: 400px;
    padding-top: 20px;
}
.windows a
{
    text-decoration: none;
    color: black;
}
.windows h4
{
    font-size: 13px;
}
.windows h3
{
    font-size: 14px;
}
.windows h2
{
    font-size: 14px;
    color: teal;
}
.windows img
{
    padding-left: 15px;
    border: 2px solid transparent;
}
.checked {
    color: orange;
  }
  .windows p
  {
    font-size: 13px;
  }
  .windows:hover img
  {
    border: 2px solid black;
  }
  .windows a:hover h2
  {
    color: red;
  }
.new
{
    text-align: center;
    margin-top: 40px;

}
.back
{
    text-align: center;
    background-color: #416fa7;
   
}
.back a 
{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.back h2
{
    padding-top: 10px;
}
.back-to-top
{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #37475a;

}
.back-to-top:hover
{
    background-color: #485769;
}
.back-to-top h5
{
    font-weight: 400;
    color: #fff;
}

.inspired-history
{
    display: flex;
    justify-content: space-around;
    margin: 20px 30px;
}
.inspired-history-main
{
    display: flex;
    justify-content: space-between;
}
.inspired-image
{
    width: 170px;
}
.inspired-image img
{
    width: 150px;  
    border: 2px solid transparent;
  
}
.inspired-image:hover img
{
    border: 2px groove #007185;
}
.inspired-image:hover a
{
    color: #ef5b16;
}
.inspired-image a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #007185;
}

.azm-bottom
{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3e;
    padding: 50px 100px;
    
}

.azm-bottom a 
{
    text-decoration: none;
    color: white;
    /* margin: 2px; */
   
}

.azm-bottom a h5
{
    font-weight: 400;
    padding: 3px 0px;
    margin: 5px 0px;
    color: #c6c2c2;
}
.azm-bottom a:hover h5
{
    text-decoration: underline;
    color: #fff;
}
.down-logo
{
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.azm-logo-language a 
{
    text-decoration: none;
    color: #fff;
    font-size: 35px;

}
.hr
{
    width: 100%;
    height: 0.5px;
    background-color: #ffffff8e;
    margin-bottom: 30px;
}
.lanugage-dropdown
{
    border: 1px solid white;
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
}
.lanugage-dropdown span
{
    margin: 0 10px;
}
.azm-country
{
   justify-content: center;
   text-align: center;
   padding: 30px 0;


}
.azm-country a
{
    color: #fff;
    text-decoration: none;
    margin: 20px 10px;
    font-size: 12px;
    font-weight: 500;
}

.bilkul-neeche
{
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
}
.bilkul-neeche h6
{
    font-weight: 500;
}
.bilkul-neeche a
{
    text-decoration: none;
    color: #fff;
    margin: 2px 5px;
    font-weight: 600;
}
footer
{
    background-color: #222f3e;
}
